@tailwind base;
@tailwind components;

@font-face {
	font-family: 'Industry';
	font-style: normal;
	font-weight: normal;
	src: url('/font/Industry-Book.woff');
}
@font-face {
	font-family: 'Industry';
	font-style: normal;
	font-weight: 900;
	src: url('/font/Industry-Black.woff');
}
@font-face {
	font-family: 'Industry';
	font-style: normal;
	font-weight: bold;
	src: url('/font/Industry-Bold.woff');
}
@font-face {
	font-family: 'Industry';
	font-style: normal;
	font-weight: 300;
	src: url('/font/Industry-Light.woff');
}

@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #D3D3D3;
	}
}
